<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}Code/css/controller.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/5.8.2/css/all.css">
</head>
<body>
    <div id="controller">
        <div id="step-backward" class="player-controller">
            <i class="fa fa-step-backward fa-2x"></i>
        </div>
        <div id="play" class="player-controller">
            <i class="fa fa-play fa-2x"></i>
        </div>
        <div id="step-forward" class="player-controller">
            <i class="fa fa-step-forward fa-2x"></i>
        </div>
        <div id="music-progress" class="player-controller">
            <div id="music-info">红妆 - 排骨教主</div>
            <div class="progress">
                <div class="progress-bar"></div>
                <div class="progress-his"></div>
                <div class="progress-point"></div>
            </div>
            <div id="music-full-time">00:59 / 03:53</div>
        </div>

        <div id="play-mode" class="player-controller">
            <i class="fa fa-random fa-2x"></i>
        </div>

        <div id="add-music" class="player-controller">
            <i class="fa fa-plus fa-2x"></i>
        </div>

        <div id="download-music" class="player-controller">
            <i class="fa fa-arrow-down fa-2x"></i>
        </div>

        <div id="volume" class="player-controller">
            <i class="fa fa-volume-up fa-2x"></i>
        </div>

        <div class="progress volume-controller">
            <div class="progress-bar"></div>
            <div class="progress-his"></div>
            <div class="progress-point"></div>
        </div>


    </div>
</body>
</html>